.background {
    /*height: 400vh;*/
    height: 100vh;
    text-align: center;

}

/* hsla(162, 100%, 71%, 1) 0%,
hsla(60, 100%, 82%, 1) 100% */

.gradient {
    background: linear-gradient(
            180deg,
            hsl(40, 95%, 61%) 0%,
            hsla(352, 76%, 43%, 1) 80%
    );
}

#slide {
    position: absolute;
    left: -100px;
    width: 100px;
    height: 100px;
    background: blue;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}